footer{
        display: flex;
        position: fixed;
        background-color: #FFF;
        height: 60px;
        width: 100%;
        bottom: 0;
        left: 0;
        border-top: 1px solid #CCCCCC;
        position: fixed;
     }


p{
   margin: auto;
   text-align: center; 
 }
